
@mixin vui-offscreen() {
	position: absolute !important;
	overflow: hidden;

	width: 1px;
	height: 1px;

	font-size: 1px;
	line-height: 1px;
	text-indent: 2px;
	white-space: nowrap;

	padding: 0;
	margin: 0;
	background: none;
	border: none;
	box-shadow: none;
	outline: none !important; // important to override :focus
}
